@media ( max-width: 1350px )
    .header
        .top-header
            .logo
                margin-left: 30px
            .contact
                margin-right: 30px
@media ( max-width: 1200px )
    .container--max-width 
        max-width: 1200px      
    .search 
        &__input
            max-width: 400px
@media ( max-width: 1100px )
    .search 
        &__input
            max-width: 300px
@media ( max-width: 992px )
    .header        
        .container--max-width 
            max-width: 992px
        .top-header
            .logo
                margin-left: 20px
            .contact
                margin-right: 20px
                &__tell
                    font-size: 19px
@media ( max-width: 900px )
    .header   
        .top-header
            display: none
        .header__menu
            display: none
        .header__mobile
            display: block
            position: relative
            z-index: 20
            &__mobile-inner
            .mobile-menu
                display: flex
                align-items: center
                justify-content: space-between
                &__logo
                    padding: 8px 0 8px 13px

@media ( max-width: 768px )
    .header
        .container--max-width 
            max-width: 768px
@media ( max-width: 576px )
    .header
        .container--max-width 
            max-width: 576px
    
// @media ( max-width: 576px )
//     .container--max-width 
//         width: 100%
    