body {
  font-family: "Roboto", sans-serif; }

.header {
  background: url("/src/img/header-top--background.png"), #fff; }
  .header .top-header .container--max-width {
    max-width: 1442px; }
  .header .top-header__block {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header .top-header .logo {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 76px;
    margin-right: 20px; }
    .header .top-header .logo__link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      text-decoration: none; }
    .header .top-header .logo__span {
      margin-top: 7px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #252525; }
  .header .top-header .search__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .header .top-header .search__input {
    background: #FFFFFF;
    border: 1px solid #CACACA;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 3px 0px 0px 3px;
    width: 520px;
    outline: none; }
  .header .top-header .search__input[placeholder] {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #B4B4B4;
    padding: 12px 0 12px 15px; }
  .header .top-header .search__input-submit {
    border: 1px solid #3E7850;
    background-color: #3E7850;
    border-radius: 0px 3px 3px 0px; }
  .header .top-header .search__input-submit:hover {
    opacity: 0.9; }
  .header .top-header .search__input-submit:focus {
    opacity: 0.8; }
  .header .top-header .search__input-submit[value] {
    color: #fff;
    padding: 12px 33px; }
  .header .top-header .search__text {
    position: relative;
    top: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #B4B4B4; }
  .header .top-header .search__link {
    text-decoration: underline;
    font-size: 14px;
    line-height: 16px; }
  .header .top-header .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: right;
    margin-right: 76px;
    margin-left: 20px; }
    .header .top-header .contact__text {
      font-size: 14px;
      line-height: 16px;
      text-align: right;
      color: #686868;
      position: relative;
      top: -9px;
      margin-bottom: 5px;
      text-decoration: none; }
    .header .top-header .contact__tell {
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      color: #252525;
      margin-top: -10px; }
      .header .top-header .contact__tell::before {
        content: url("../img/header-icon.png");
        width: 2px;
        height: 2px;
        padding-right: 14px;
        -webkit-transition: 1s all;
        transition: 1s all; }
    .header .top-header .contact__email {
      font-size: 16px;
      line-height: 19px;
      color: #252525;
      margin-top: 5px; }
  .header__menu-inner {
    border: 1px solid #E5E5E5;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 66px;
    background-color: #fff; }
  .header .container--max-width-center {
    max-width: 1280px;
    margin: 0 auto; }
    .header .container--max-width-center .menu__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      list-style-type: none;
      text-align: left; }
    .header .container--max-width-center .menu__list-item {
      padding: 19px 25px; }
    .header .container--max-width-center .menu__list-item--active {
      border-bottom: 3px solid #3E7850; }
    .header .container--max-width-center .menu__link {
      text-decoration: none;
      font-weight: 300;
      font-size: 18px;
      line-height: 21px;
      color: #232323; }
    .header .container--max-width-center .menu__link:hover {
      color: #3E7850; }
    .header .container--max-width-center .menu__link--active {
      text-decoration: none;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      color: #3E7850; }
  .header .header__mobile {
    display: none; }
    .header .header__mobile .header__mobile-inner .mobile-menu {
      position: relative; }
      .header .header__mobile .header__mobile-inner .mobile-menu__contact {
        position: absolute;
        right: 70px; }
      .header .header__mobile .header__mobile-inner .mobile-menu__btn {
        background-color: #686868;
        width: 60px;
        height: 46px;
        position: relative;
        right: -15px; }
      .header .header__mobile .header__mobile-inner .mobile-menu__btn-span {
        width: 30px;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top: 50%;
        left: 25%;
        -webkit-transition: 0.5s;
        transition: 0.5s; }
      .header .header__mobile .header__mobile-inner .mobile-menu__btn-span:nth-child(2) {
        top: calc(50% - 7px); }
      .header .header__mobile .header__mobile-inner .mobile-menu__btn-span:nth-child(3) {
        top: calc(50% + 7px); }
      .header .header__mobile .header__mobile-inner .mobile-menu__nav {
        position: fixed;
        top: 46px;
        height: 100%;
        width: calc(100% - 60px);
        left: 0px;
        background: #fff;
        -webkit-transform: translate(-100%);
                transform: translate(-100%);
        -webkit-transition: 0.5s;
        transition: 0.5s;
        opacity: 1; }
      .header .header__mobile .header__mobile-inner .mobile-menu__list {
        padding: 18px;
        list-style: none; }
      .header .header__mobile .header__mobile-inner .mobile-menu__item {
        padding: 10px; }
      .header .header__mobile .header__mobile-inner .mobile-menu__link {
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        color: #232323;
        text-decoration: none; }
      .header .header__mobile .header__mobile-inner .mobile-menu__link--active {
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #3E7850; }
      .header .header__mobile .header__mobile-inner .mobile-menu__link:hover:focus {
        color: #3E7850; }
      .header .header__mobile .header__mobile-inner .mobile-menu__btn-span--focus {
        opacity: 1;
        background: #fff; }
      .header .header__mobile .header__mobile-inner .mobile-menu__nav.active {
        -webkit-transform: translate(0%);
                transform: translate(0%); }

.body.active {
  background: rgba(0, 0, 0, 0.396); }

.body {
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  .body .title-info {
    width: 100%;
    height: 560px;
    position: relative;
    background: url("../img/header__slider--background.png"); }
    .body .title-info .carousel-inner {
      position: relative; }
      .body .title-info .carousel-inner .carousel-item__image {
        position: relative;
        left: 660px;
        margin-top: 50px;
        width: 360px;
        height: 420px; }
      .body .title-info .carousel-inner .carousel-info {
        text-align: left;
        width: 481px;
        position: relative;
        top: -380px;
        left: 2px; }
        .body .title-info .carousel-inner .carousel-info__item {
          color: #3E7850;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 28px;
          color: #3E7850;
          margin-bottom: 16px; }
        .body .title-info .carousel-inner .carousel-info__title {
          font-style: normal;
          font-weight: bold;
          font-size: 40px;
          line-height: 47px;
          color: #252525; }
        .body .title-info .carousel-inner .carousel-info__item-info {
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 28px;
          color: #252525; }
        .body .title-info .carousel-inner .carousel-info__link {
          font-size: 16px;
          line-height: 19px;
          color: #0060B8; }
          .body .title-info .carousel-inner .carousel-info__link::after {
            content: url("../img/arrow-link.png");
            width: 5px;
            height: 5px;
            position: relative;
            top: 2px;
            left: 15px; }
    .body .title-info .carousel-control-next-icon {
      display: none; }

@media (max-width: 1350px) {
  .header .top-header .logo {
    margin-left: 30px; }
  .header .top-header .contact {
    margin-right: 30px; } }
@media (max-width: 1200px) {
  .container--max-width {
    max-width: 1200px; }

  .search__input {
    max-width: 400px; }

  .body .title-info .carousel-inner .carousel-item__image {
    left: 538px; } }
@media (max-width: 1100px) {
  .search__input {
    max-width: 300px; } }
@media (max-width: 992px) {
  .body .container--max-width {
    max-width: 992px; }
  .body .title-info .carousel-inner .carousel-info {
    width: 360px;
    top: -260px;
    left: 2px; }
    .body .title-info .carousel-inner .carousel-info .carousel-info__title {
      font-size: 28px; }
  .body .title-info .carousel-inner .carousel-item__image {
    left: 405px;
    top: 36px;
    width: 228px;
    height: 265px; }

  .header .container--max-width {
    max-width: 992px; }
  .header .top-header .logo {
    margin-left: 20px; }
  .header .top-header .contact {
    margin-right: 20px; }
    .header .top-header .contact__tell {
      font-size: 19px; } }
@media (max-width: 900px) {
  .header .top-header {
    display: none; }
  .header .header__menu {
    display: none; }
  .header .header__mobile {
    display: block;
    position: relative;
    z-index: 20; }
    .header .header__mobile__mobile-inner {
      position: fixed;
      z-index: 20;
      display: block; }
    .header .header__mobile .mobile-menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      position: fixed; }
      .header .header__mobile .mobile-menu__logo {
        padding: 8px 0 8px 13px; }
  .header .mobile-search {
    background: #FFFFFF;
    -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05); }
    .header .mobile-search .mobile-search-inner {
      text-align: center; }
    .header .mobile-search .search__form {
      padding: 12px 15px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .header .mobile-search .search__input-mobile {
      height: 44px;
      width: 100%;
      background: #FFFFFF;
      border: 1px solid #CACACA;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border-radius: 3px 0px 0px 3px; }
    .header .mobile-search .search__input-mobile[placeholder] {
      padding-left: 24px; }
    .header .mobile-search .search__input-submit {
      background: #3E7850;
      border: none;
      border-radius: 0px 3px 3px 0px;
      color: #fff;
      width: 62px; } }
@media (max-width: 768px) {
  .header .container--max-width {
    max-width: 768px; }

  .body .container--max-width {
    max-width: 768px; }
  .body .title-info .carousel-inner .carousel-item__image {
    left: 155px;
    top: 110px; }
  .body .title-info .carousel-inner .carousel-info {
    top: -310px; }
    .body .title-info .carousel-inner .carousel-info__item {
      font-size: 14px;
      line-height: 28px;
      margin-bottom: 5px; }
    .body .title-info .carousel-inner .carousel-info__title {
      font-size: 20px;
      line-height: 23px; }
    .body .title-info .carousel-inner .carousel-info__item-info {
      display: none; } }
@media (max-width: 576px) {
  .header .container--max-width {
    max-width: 576px; }

  .body .container--max-width {
    max-width: 576px; }
  .body .title-info .carousel-inner .carousel-item__image {
    left: 18%; } }
@media (max-width: 420px) {
  .body .title-info .carousel-inner .carousel-item__image {
    left: 18%;
    top: 120px; }
  .body .title-info .carousel-inner .carousel-info {
    top: -310px; }
    .body .title-info .carousel-inner .carousel-info__title {
      font-size: 25px;
      width: 358px; } }

/*# sourceMappingURL=style.css.map */